@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

<footer class="bg-black p-[.5rem]">
	<div class="flex gap-1 justify-center">
		<p class="text-[var(--clr-primary)]">© Onatrix. All Rights Reserved. Credits to</p>
		<p class="text-[var(--clr-secondary)]">Themesflat</p>
	</div>
</footer>
