<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd6e4b9c-a30c-4318-9427-ccf5fa43beb1" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="0d7a9926-b15e-4a54-8641-ea234322a257">PartnerLogos</Parent>
    <Path>/PartnerLogos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:16:49</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n11mylyx/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>