<?xml version="1.0" encoding="utf-8"?>
<Media Key="39e3ad44-3e88-4582-802a-ee04bcf0bb72" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="0d7a9926-b15e-4a54-8641-ea234322a257">PartnerLogos</Parent>
    <Path>/PartnerLogos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:16:49</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wyiedw2t/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>