<?xml version="1.0" encoding="utf-8"?>
<Media Key="adb0615e-7af5-43cb-8978-34f0cfca1bed" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="0d7a9926-b15e-4a54-8641-ea234322a257">PartnerLogos</Parent>
    <Path>/PartnerLogos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:16:50</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vtobet5o/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>