<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b3e9f63-e138-4915-b86d-5fcca427e0f1" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="0d7a9926-b15e-4a54-8641-ea234322a257">PartnerLogos</Parent>
    <Path>/PartnerLogos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:16:49</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/serjzkjd/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>