<?xml version="1.0" encoding="utf-8"?>
<Media Key="d968c6f8-cbd6-4d22-97af-90628248f7e8" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="0d7a9926-b15e-4a54-8641-ea234322a257">PartnerLogos</Parent>
    <Path>/PartnerLogos/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:16:49</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bj3nuo4n/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>