<?xml version="1.0" encoding="utf-8"?>
<Media Key="4babea32-6103-455e-b6cf-f4be51c9c62f" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:48:45</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yblbtkiy/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>