<?xml version="1.0" encoding="utf-8"?>
<Media Key="24f4efaf-0dc7-40c6-9da9-c670367fa41e" Alias="Dude.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dudesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T13:58:31</CreateDate>
    <NodeName Default="Dude.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lvjfnrw2/dude.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>