<?xml version="1.0" encoding="utf-8"?>
<Media Key="568a6380-db7f-4701-93ff-93834bdae5ed" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T08:49:32</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/olpcrnde/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>