<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f10662c-fd0a-44ac-9c5f-9f31be7f6ada" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T08:49:33</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/11nle5ir/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>