<?xml version="1.0" encoding="utf-8"?>
<Media Key="09ebd311-1883-4946-ba04-793faf111731" Alias="image-21-min 2.svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T08:49:33</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2nxet02y/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>