<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9754a10-9914-41bc-a5c6-e8e727a79582" Alias="image-24-min 1.svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T08:49:32</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2l1nosyp/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>