<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c8a44da-17f2-49ba-8940-3bd79df4f036" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T08:49:33</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fd2drlxj/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>