<?xml version="1.0" encoding="utf-8"?>
<Media Key="c395512b-5d91-4088-9a01-7d3dca082938" Alias="image-47 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:02:58</CreateDate>
    <NodeName Default="image-47 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1hwdoimk/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>