<?xml version="1.0" encoding="utf-8"?>
<Media Key="954d8b47-f43c-4b86-a836-ebf9bff2b23a" Alias="image-106 1.png" Level="2">
  <Info>
    <Parent Key="5146eb91-0410-4928-a9ea-59495c545410">Team Members</Parent>
    <Path>/TeamMembers/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-31T09:05:44</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zbabwi0v/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>