<?xml version="1.0" encoding="utf-8"?>
<Media Key="54c02bb5-dc49-4bc1-9545-1d8c2cb45654" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T08:49:33</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i4lgfnss/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>