<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1b8953e-312e-4f22-9e8a-b774bc9878bf" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:20:24</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zqubuuzv/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>