<?xml version="1.0" encoding="utf-8"?>
<Media Key="84c09a77-8121-4850-b4c4-1e67e31b75e7" Alias="Img-4-2 1.svg" Level="2">
  <Info>
    <Parent Key="5146eb91-0410-4928-a9ea-59495c545410">Team Members</Parent>
    <Path>/TeamMembers/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:05:43</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/quthezr0/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>