<?xml version="1.0" encoding="utf-8"?>
<Media Key="05d2ef0b-e3bf-4b92-8e32-ad3a6dbef9b8" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:31:17</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5fjhbz3e/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>