<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a097805-152d-4ea8-a20d-924e04a8807f" Alias="img_choose_01_home01 2.svg" Level="2">
  <Info>
    <Parent Key="5146eb91-0410-4928-a9ea-59495c545410">Team Members</Parent>
    <Path>/TeamMembers/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:05:44</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/45clxwbw/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>