<?xml version="1.0" encoding="utf-8"?>
<Media Key="990bb661-b8fe-4aa9-8b66-e53502460460" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="5146eb91-0410-4928-a9ea-59495c545410">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:05:44</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/smfls45f/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>