<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bfe825b-58a5-4a66-b295-1c279eb9be03" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T13:32:14</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ve5fy0n4/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>