<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d5fed2f-1c1a-4250-ad02-55c8cc801970" Alias="Mask-Group-8 1.svg" Level="2">
  <Info>
    <Parent Key="5146eb91-0410-4928-a9ea-59495c545410">Team Members</Parent>
    <Path>/TeamMembers/MaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:05:44</CreateDate>
    <NodeName Default="Mask-Group-8 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1vip1tyb/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>