<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d12e488-1e49-44fd-9fc6-efeddd3db617" Alias="OnlineSignatures.net-302 1 (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet30211Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:02:07</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1 (1).svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjmlb50s/onlinesignaturesnet-302-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>