<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d7a9926-b15e-4a54-8641-ea234322a257" Alias="PartnerLogos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-04T10:16:33</CreateDate>
    <NodeName Default="PartnerLogos" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>