<?xml version="1.0" encoding="utf-8"?>
<Media Key="8814e90d-7b9c-4d1e-a998-0e8b25ce7a67" Alias="post2 1 (1).svg" Level="2">
  <Info>
    <Parent Key="20968905-2330-4050-952f-67a1856fe272">Service Item Images</Parent>
    <Path>/ServiceItemImages/post211Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T15:05:29</CreateDate>
    <NodeName Default="post2 1 (1).svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/53klm0uh/post2-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>