<?xml version="1.0" encoding="utf-8"?>
<Media Key="20968905-2330-4050-952f-67a1856fe272" Alias="Service Item Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceItemImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T08:49:18</CreateDate>
    <NodeName Default="Service Item Images" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>