<?xml version="1.0" encoding="utf-8"?>
<Media Key="7be607f1-4e38-452a-9412-d8b87e476479" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:05:10</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ao3ejgjd/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>