<?xml version="1.0" encoding="utf-8"?>
<Media Key="5146eb91-0410-4928-a9ea-59495c545410" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-31T09:03:38</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>