<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c5669bf-685d-4c7f-ba14-7997ea456283" Alias="Video 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Video1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:51:40</CreateDate>
    <NodeName Default="Video 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jxkpjpsg/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>