@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-neutral: #ffffff;
    --clr-white: #F2EDDC;
    --clr-white-100: #F7F7F7;
    --clr-dark: #0E0E0E;
    --clr-primary: #4F5955;
    --clr-main-light: #606966;
    --clr-accent: #F2EDDC;
    --clr-secondary: #D9C3A9;
    --clr-gray-400: #4B5264;
    --clr-body-text: #535656;
    --clr-body-text-100: #999999;
    --clr-note1: #9C9EA6;
    --clr-border-gray: #EAEAEA;
    --clr-border-400: #C7C8C9;


    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;
}

body {
    font-family: 'Poppins', sans-serif;
}




.rte h3 {
    font-size: 20px;
    color: var(--clr-primary);
    font-weight: 700;
}

.current a {
    color: var(--clr-secondary);
}

.rte-ul {
    list-style-type: disc;
    padding-left: 1.25rem; 
    margin-top: 0.75rem; 
}

.rte-ul li {
    font-size: var(--text-rte-xs);
    color: var(--clr-body-text);
    margin-bottom: 0.75rem; 
}

.rte-ul li::marker {
    color: var(--clr-secondary);
}

.rte p {
    
    margin-bottom: 0.75rem;
}

img{
    margin-top:1rem;
    width:100%;
    height:100%;
    object-fit:cover;
}



.primary {
    color: var(--clr-primary);
}

.text-primary {
    color: var(--clr-primary);
}

.secondary {
    color: var(--clr-secondary);
}

.text-secondary {
    color: var(--clr-secondary);
}
.text-body-text {
    color: var(--clr-body-text);
}
.clr-body-text-100 {
    color: var(--clr-body-text-100);
}

.current a {
    color: var(--clr-secondary);
}

#bg-img {
    background-image: url('/images/Component 1.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.bg-dotmap {
    background-image: url('/images/dot-map 1.svg');
    background-position: top;
    background-repeat: no-repeat;
}

#our-client {
    background-image: url('/Images/dot-map 1.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.about-content p {
    margin-bottom: 1.5rem;
}

.input-validation-error {
    border-color: darkred;
    outline: none;
    box-shadow: 0 0 0 1px red;
}

    .input-validation-error:focus {
        box-shadow: 0 0 0 1px red;
    }

.field-validation-error {
    margin-top: 0.25rem;
    display: block;
    font-size: 0.875rem;
    color:darkred;
}


