<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4dc4e3c-de20-49c0-8cee-cb7db11494e1" Alias="formSubmissions" Level="2">
  <Info>
    <Name>FormSubmissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f4bfea4-5abd-4ab0-a36d-ab8ef4914ea8" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="9e33b49f-87c7-49b1-8bea-54b1b2dbb343" SortOrder="1">questionRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>