<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df0e084d-9b0a-4f55-a019-90c507b06fb1" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7b71d068-e813-4988-9d54-c3e2b4ee8cb4">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="22eacaad-92c2-4fdd-ae4f-5903996e9563" SortOrder="0">contactPage</ContentType>
    <ContentType Key="c575ae65-946a-4468-a3c7-3dd21f805be2" SortOrder="1">servicePage</ContentType>
    <ContentType Key="5938c110-437f-4cec-8d8f-8e404aa76e5d" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c935c5fe-9a06-4569-8d93-df7e2df86dd7</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>3257e6d5-7e82-4ab8-a48c-85f681e12c92</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f9c87248-e007-4995-9efd-40d0963c91d0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>