<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11a4180c-d90a-4221-89ff-dc14fc171974" Alias="Contact - Sections " Level="1">
  <Info>
    <Name>Contact - Sections </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b0edecdf-2632-4af2-aa3d-50e2ae20bd8b"
    }
  ]
}]]></Config>
</DataType>