<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f033c87-5177-4f04-aba2-8bd207ea0e38" Alias=" Service Detail Aside - List" Level="1">
  <Info>
    <Name> Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c3833fd8-1169-48c4-a4ce-a8cf09c0dfae"
    }
  ]
}]]></Config>
</DataType>