<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6277584-3f35-44e2-a731-d854bc2f12e9" Alias="Service Section - Service Items - Block List" Level="1">
  <Info>
    <Name>Service Section - Service Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e39b5014-d309-4c9f-955b-caf8a36f2f6c"
    }
  ]
}]]></Config>
</DataType>