<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f24f6695-927b-4dd1-96bd-4fba83abdd94" Alias="Site Settings - Platform List " Level="1">
  <Info>
    <Name>Site Settings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b3377612-5d56-499d-81fd-9f150356e09f",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>