<?xml version="1.0" encoding="utf-8"?>
<DataType Key="273df322-a6cf-4f85-9b69-2011a53beb93" Alias="Success Stats Block Lis" Level="1">
  <Info>
    <Name>Success Stats Block Lis</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "28f33a1c-d663-4abc-982d-055d8fc9d53e"
    }
  ]
}]]></Config>
</DataType>