<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f8464cc-1856-482a-9268-aa84b36f129b" Alias="Team Member List " Level="1">
  <Info>
    <Name>Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "472ec648-b23a-482d-a61e-d65115d9ecc2",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>