<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb492c38-1f38-4bd4-8801-e2f844e0eb7f" Alias="Testimonial Section - Star Rating - Slider Property Editor UI" Level="1">
  <Info>
    <Name>Testimonial Section - Star Rating - Slider Property Editor UI</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>