<?xml version="1.0" encoding="utf-8"?>
<Content Key="7531def7-c460-442f-b22f-e92d8c23f7a6" Alias="2025-11-12 14:01 - Contaact us" Level="2">
  <Info>
    <Parent Key="19b3a783-60d2-4a17-ab61-23cf532b688f">Form Submissions</Parent>
    <Path>/FormSubmissions/ContaactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T14:01:49</CreateDate>
    <NodeName Default="2025-11-12 14:01 - Contaact us" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[abdi@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Contaact us]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0809888e8e]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>