<?xml version="1.0" encoding="utf-8"?>
<Content Key="430dd961-a8e4-4d46-84fd-a5e3dc6fd089" Alias="2025-11-10 15:02 - Test" Level="2">
  <Info>
    <Parent Key="19b3a783-60d2-4a17-ab61-23cf532b688f">Form Submissions</Parent>
    <Path>/FormSubmissions/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T15:02:35</CreateDate>
    <NodeName Default="2025-11-10 15:02 - Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[abdi@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0788383833]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>