<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc263d3b-06cf-4bec-9db9-581469a41a53" Alias="2025-11-10 14:51 - Abdifatah Mahdi" Level="2">
  <Info>
    <Parent Key="19b3a783-60d2-4a17-ab61-23cf532b688f">Form Submissions</Parent>
    <Path>/FormSubmissions/AbdifatahMahdi</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T14:51:28</CreateDate>
    <NodeName Default="2025-11-10 14:51 - Abdifatah Mahdi" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[abdifatah@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Abdifatah Mahdi]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0790455643]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>