<?xml version="1.0" encoding="utf-8"?>
<Content Key="487fedba-4f53-495e-a8f3-e75fd12b9500" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d0b68ee2-a363-4d18-9a3d-6d0aa62ba120">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-28T10:20:09</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="12f3a80f-65b5-45d7-a9b1-2a23b69289a6">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e4a42498-3cb0-4bfd-9b5a-f160f2ec71d1",
      "key": "39d004cf-d42b-497d-be7d-ae372870b0ce",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "formBodyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mapBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "12094cdf-5340-452c-a9d3-1655699a98b4",
              "mediaKey": "df88f784-7ca9-4fc8-99f0-3bf6e8647de9",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b0edecdf-2632-4af2-aa3d-50e2ae20bd8b",
      "key": "875bf65c-0fa6-4a66-b123-42e55793c484",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "960811de-aa0e-455d-bcf9-6f1c7915461b",
              "mediaKey": "24f4efaf-0dc7-40c6-9da9-c670367fa41e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    },
    {
      "contentTypeKey": "b444c738-f182-4c92-8799-fbe1d917d571",
      "key": "b1f84845-d80a-42c9-85e2-d1590f21d3e8",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogo1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e6833116-5e65-4364-a17d-9583f19ab461",
              "mediaKey": "cd6e4b9c-a30c-4318-9427-ccf5fa43beb1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3ae5838e-25ab-425b-a758-f86a7ab0e5e9",
              "mediaKey": "39e3ad44-3e88-4582-802a-ee04bcf0bb72",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "52c702ab-bb9a-43f6-9ef8-13f20ea5fb5e",
              "mediaKey": "adb0615e-7af5-43cb-8978-34f0cfca1bed",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a562349e-b0ed-4296-862d-88683dfb0817",
              "mediaKey": "bf97a796-08df-49fa-b7e3-2cf8db8b5861",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c031dcae-cdc7-4341-8a8e-292ff519f3d4",
              "mediaKey": "4b3e9f63-e138-4915-b86d-5fcca427e0f1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bfd6972e-39f1-4d02-b3dd-1b719f2e54da",
              "mediaKey": "d968c6f8-cbd6-4d22-97af-90628248f7e8",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0089adfd-9f6e-409f-8178-e83d8f1cb1f2",
      "key": "e6d8a6da-e080-4e3b-8f94-fdd093e82438",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "39d004cf-d42b-497d-be7d-ae372870b0ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "875bf65c-0fa6-4a66-b123-42e55793c484",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b1f84845-d80a-42c9-85e2-d1590f21d3e8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "875bf65c-0fa6-4a66-b123-42e55793c484",
        "contentUdi": null,
        "settingsKey": "e6d8a6da-e080-4e3b-8f94-fdd093e82438",
        "settingsUdi": null
      },
      {
        "contentKey": "39d004cf-d42b-497d-be7d-ae372870b0ce",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b1f84845-d80a-42c9-85e2-d1590f21d3e8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>