<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0b68ee2-a363-4d18-9a3d-6d0aa62ba120" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-28T09:06:13</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b71d068-e813-4988-9d54-c3e2b4ee8cb4">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "04a85bad-1c6b-41b0-a1a1-099245033b14",
      "key": "b03a893f-1a3e-4be8-89e3-17f398e0c754",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/487fedba4f53495ea8f3e75fd12b9500",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a0ea8a62-158a-4b26-abf1-6820df6fce56",
              "mediaKey": "7be607f1-4e38-452a-9412-d8b87e476479",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0ccd49cc-7705-48e0-a163-3f74c33fc21e",
      "key": "de8e6d39-f349-4b2b-bee7-6e328128794a",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b72a47ea-abb6-4e25-b1c0-b18d4e5c0d3f",
      "key": "988bd331-8eeb-4c17-8c8e-2bdb36e56210",
      "udi": null,
      "values": [
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successStats",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "28f33a1c-d663-4abc-982d-055d8fc9d53e",
                "key": "0c720ed4-aadc-40b8-8c80-b8522b0ef100",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "statDiscription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "28f33a1c-d663-4abc-982d-055d8fc9d53e",
                "key": "aa74d217-6da6-4b04-9be1-2771dd089d17",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "statDiscription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "28f33a1c-d663-4abc-982d-055d8fc9d53e",
                "key": "bc816592-c85b-41d6-87ff-5b867fc03c90",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "statDiscription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0c720ed4-aadc-40b8-8c80-b8522b0ef100",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "aa74d217-6da6-4b04-9be1-2771dd089d17",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bc816592-c85b-41d6-87ff-5b867fc03c90",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0c720ed4-aadc-40b8-8c80-b8522b0ef100",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "aa74d217-6da6-4b04-9be1-2771dd089d17",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bc816592-c85b-41d6-87ff-5b867fc03c90",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4b5edc98-dad1-4068-9523-6d337a5638fe",
              "mediaKey": "5c5669bf-685d-4c7f-ba14-7997ea456283",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b444c738-f182-4c92-8799-fbe1d917d571",
      "key": "df3c3418-4c6e-4db6-8144-47803d974079",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogo1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e6833116-5e65-4364-a17d-9583f19ab461",
              "mediaKey": "cd6e4b9c-a30c-4318-9427-ccf5fa43beb1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3ae5838e-25ab-425b-a758-f86a7ab0e5e9",
              "mediaKey": "39e3ad44-3e88-4582-802a-ee04bcf0bb72",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "52c702ab-bb9a-43f6-9ef8-13f20ea5fb5e",
              "mediaKey": "adb0615e-7af5-43cb-8978-34f0cfca1bed",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo4",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a562349e-b0ed-4296-862d-88683dfb0817",
              "mediaKey": "bf97a796-08df-49fa-b7e3-2cf8db8b5861",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo5",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c031dcae-cdc7-4341-8a8e-292ff519f3d4",
              "mediaKey": "4b3e9f63-e138-4915-b86d-5fcca427e0f1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "partnerLogo6",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bfd6972e-39f1-4d02-b3dd-1b719f2e54da",
              "mediaKey": "d968c6f8-cbd6-4d22-97af-90628248f7e8",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2635d3d2-2051-41f0-94a4-912563b778f7",
      "key": "d91d0ef6-26e2-4c4f-bdfa-775df3159d44",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "highlightNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam \u003Cbr\u003E arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "65dd9417-6722-426a-be88-d495303bf20a",
              "mediaKey": "b1b8953e-312e-4f22-9e8a-b774bc9878bf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read Our Story"
        },
        {
          "alias": "buttonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About",
              "target": null,
              "udi": "umb://document/d53ed0cdc2a84614bea092ff19035206",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "142bf8ad-a972-4d56-98c1-d3048ba92401",
      "key": "834f4307-f110-446b-98b0-1a489d19842e",
      "udi": null,
      "values": [
        {
          "alias": "callbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        },
        {
          "alias": "callbackSectionSignatureImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dc2ef22e-f62c-4c84-b332-ee6b7e7c2cb4",
              "mediaKey": "eba76f67-c609-40aa-acdd-3b2721e23a4b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "callbackSectionSignatureText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        },
        {
          "alias": "callbackSectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "callbackSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "callbackSectionQuoto",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "callbackSectionText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ee2ca218-38a2-47b3-b0db-de7908847c5f",
      "key": "f2fe9122-0201-4c9d-a62f-aa2d5eecff28",
      "udi": null,
      "values": [
        {
          "alias": "serviceBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White -100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "71e96676-f2a3-44db-bd78-1674b025815b",
      "key": "6a6a808d-e5e6-4f92-b5e5-a8ce528f34e6",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting\nBusiness\nTax Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b03a893f-1a3e-4be8-89e3-17f398e0c754",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de8e6d39-f349-4b2b-bee7-6e328128794a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "988bd331-8eeb-4c17-8c8e-2bdb36e56210",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df3c3418-4c6e-4db6-8144-47803d974079",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d91d0ef6-26e2-4c4f-bdfa-775df3159d44",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "834f4307-f110-446b-98b0-1a489d19842e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b03a893f-1a3e-4be8-89e3-17f398e0c754",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "834f4307-f110-446b-98b0-1a489d19842e",
        "contentUdi": null,
        "settingsKey": "6a6a808d-e5e6-4f92-b5e5-a8ce528f34e6",
        "settingsUdi": null
      },
      {
        "contentKey": "de8e6d39-f349-4b2b-bee7-6e328128794a",
        "contentUdi": null,
        "settingsKey": "f2fe9122-0201-4c9d-a62f-aa2d5eecff28",
        "settingsUdi": null
      },
      {
        "contentKey": "d91d0ef6-26e2-4c4f-bdfa-775df3159d44",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "988bd331-8eeb-4c17-8c8e-2bdb36e56210",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "df3c3418-4c6e-4db6-8144-47803d974079",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>