<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a78a81c-b833-4bd4-8c28-3508f4bb6d97" Alias="Services" Level="2">
  <Info>
    <Parent Key="d0b68ee2-a363-4d18-9a3d-6d0aa62ba120">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T11:14:13</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="70e83a2b-3ee6-461c-826f-8d27b3ba0011">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0ccd49cc-7705-48e0-a163-3f74c33fc21e",
      "key": "85ad352f-a70c-4cdd-a39b-014974c8ac68",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b0edecdf-2632-4af2-aa3d-50e2ae20bd8b",
      "key": "9de7427f-11cf-4887-a883-0affa08bd9c5",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8fd1baaf-8646-46f5-8232-a88037d3549a",
              "mediaKey": "24f4efaf-0dc7-40c6-9da9-c670367fa41e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ee2ca218-38a2-47b3-b0db-de7908847c5f",
      "key": "96910751-1b4d-450f-943d-8c110da8d249",
      "udi": null,
      "values": [
        {
          "alias": "serviceBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showPagination",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0089adfd-9f6e-409f-8178-e83d8f1cb1f2",
      "key": "e139d6bb-8f04-4138-aff4-2b0d97d8dc6b",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "85ad352f-a70c-4cdd-a39b-014974c8ac68",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9de7427f-11cf-4887-a883-0affa08bd9c5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "85ad352f-a70c-4cdd-a39b-014974c8ac68",
        "contentUdi": null,
        "settingsKey": "96910751-1b4d-450f-943d-8c110da8d249",
        "settingsUdi": null
      },
      {
        "contentKey": "9de7427f-11cf-4887-a883-0affa08bd9c5",
        "contentUdi": null,
        "settingsKey": "e139d6bb-8f04-4138-aff4-2b0d97d8dc6b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>